@media screen and (min-width: 480px) and (max-width: 767px) {
    #a { 
        background-color: limegreen;
    }    
    #b { 
        background-color: lightgoldenrodyellow;
    } 
    #c { 
        background-color: lightseagreen;
    } 
    #d { 
        background-color: lightsalmon;
    } 
    #e { 
        background-color:rgb(71, 168, 128);
    } 
    #f { 
        background-color: lightblue;
    } 
    #g { 
        background-color: pink;
    } 
    #h { 
        background-color:burlywood;
    } 
    #i { 
        background-color:peru;
    } 
}
@media screen and (min-width: 600px) and (max-width: 800px) {
    #a { 
        background-color:greenyellow;
    }    
    #b { 
        background-color: lightslategray;
    } 
    #c { 
        background-color: skyblue;
    } 
    #d { 
        background-color: darkmagenta;
    } 
    #e { 
        background-color:darkslateblue;
    } 
    #f { 
        background-color: pink;
    } 
    #g { 
        background-color:lightsalmon;
    } 
    #h { 
        background-color: lightsteelblue;
    } 
    #i { 
        background-color: darkseagreen;
    } 
}